*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  max-height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  padding: 0 30px 0;
  margin-top: 266px;
  margin-bottom: 133px;
  display: grid;
  grid-template-columns: 711px 1fr;
  gap: 30px;
  align-items: end;
  max-height: 534px;
  height: 100%;
  width: 100%;
}

.content__list {
  height: 298px;
  width: 410px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__list::-webkit-scrollbar {
  width: 10px;
}

.content__list::-webkit-scrollbar-track {
  background: transparent;
}

.content__list::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
  border: 3px solid transparent;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  max-height: 534px;
}

.content__video-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: start;
  gap: 2px;
}

.content__video-card-description-container {
  width: 196px;
  word-break: break-word;
  /* в GoogleChrome этот перенос с дефисом работает корректно */
  hyphens: auto;
  padding-left: 3px;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  border-radius: 0;
  outline-offset: 0;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  /* размеры указаны не в fr для соответствия макету, если поставить 1fr разника в пикселях с макетом будет большая */
  max-height: 54px;
  width: 100%;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-block;
  width: fit-content;
}

.search-form__label:has(> .search-form__checkbox:focus, .search-form__textfield:focus) {
  outline: 0;
}

.search-form__label:has(> .search-form__checkbox:focus-visible, .search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  border-radius: 0;
  outline-offset: 2px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__textfield {
  appearance: none;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  padding: 0;
  min-width: 225px;
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield::placeholder {
  content: '';
  width: 225px;
  color: inherit;
  outline: none;
  appearance: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  text-transform: none;
  word-wrap: break-word;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: 1px solid #fff;
  margin-right: 2px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  background: transparent;
  background-size: 15px 15px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox[type='checkbox']:checked+.search-form__pseudo-checkbox {
  content: '';
  display: inline-block;
  background-position: center;
  background: #fff;
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.button {
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  align-self: end;
  padding: 0;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -2px;
}

.search-form__submit-button {
  padding: 0 2px;
}

.more-button {
  width: 100%;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -2px;
}